<div class="person-detail">
  <img src="../../../images/{{ selectedPerson.image }}.jpg" /><br />
  <div class="name">
    {{ selectedPerson.firstName }} {{ selectedPerson.lastName }}
  </div>
  <br />

  <div *ngFor="#person of people" class="pair-list">
    <div [ngSwitch]="paired(person)">
      <template [ngSwitchWhen]="false">
        <span class="unpaired">{{ person.firstName }} {{ person.lastName }}</span>
      </template>
      <template [ngSwitchWhen]="true">
        {{ person.firstName }} {{ person.lastName }}
      </template>
    </div>
  </div>
</div>
