<ul class="people">
  <li *ngFor="#person of people"
    [class.selected]="person === selectedPerson"
    [class.paired]="paired(person)"
    (click)="onSelect(person)">
    <div class="itemLine" [class.selected]="person === selectedPerson">
      {{ person.firstName }}
      {{ person.lastName }}
      {{ person.location }}
      <img src="../../../../images/{{ person.image }}-bw.jpg" width="200" height="200" />
    </div>
  </li>
</ul>
<div *ngIf="selectedPerson">
  <my-person-detail [selectedPerson]="selectedPerson"></my-person-detail>
  <!-- <h2>
    {{ selectedPerson.firstName }} {{ selectedPerson.lastName }}
  </h2>
  <button (click)="gotoDetail()">View Details</button> -->
</div>
