.people-list {
  clear: both;
}

.itemLine {
  width: 100%;
  height: 70px;
  margin: 0 0 15px 0;
  padding: 0px;
  background-color: #eee;
}

span {
  font-size: 20px;
  font-weight: 300;
}

img {
  float: left;
}

.info {
  position: relative;
  width: 88%;
  margin: 25px 0 0 20px;
  float: left;
}

.firstname,
.lastname {
  width: 150px;
  font-weight: 400;
}

.location {
  margin-left: 20px;
}

.searchBy,
.searchby span {
  font-size: 16px;
  font-weight: 600;
  color: #ccc;
}

p.searchBy {
  margin-top: 20px;
}

.time {
  position: absolute;
  right: 0;
  margin-top: -20px;
  font-size: 14px;
  font-weight: 600;
  color: #bbb;
}

.bio {
  display: none;
  margin: -15px 0 15px 0;
  padding: 30px 50px 30px 90px;
  background: #eee;
  font-weight: 300;
}

.bioOn {
  display: block;
}
