<div class="people">
  <div *ngFor="#person of people | sort:sortBy"
    [class.selected]="person === selectedPerson"
    (click)="onSelect(person)">
    <div class="itemLine" [class.selected]="person === selectedPerson">
      <img src="../../../../images/{{ person.image }}.jpg" width="70" />
      <div class="info">
        <span class="firstname">{{ person.firstName }}</span>
        <span class="lastname">{{ person.lastName }}</span>
        <span class="location">{{ person.location }}</span>
        <span class="time">{{ localTime(person) }}</span>
      </div>
    </div>
  </div>
</div>
<p class="searchBy">Sort by:&nbsp;&nbsp;<span (click)="sort('firstName')">First</span> - <span (click)="sort('lastName')">Last</span> - <span (click)="sort('location')">Location</span></p>
